body{
    text-align: center;
    margin: 0;
    margin-top: 50px;
}

.header{
    font-size: 70px;
    font-family: 'Cookie', cursive;
    font-weight: 500; 
    color:black;
}

.header2{
    font-size: 40px;
    font-family: 'Patrick Hand', cursive;
    color:black;
    width: 450px;
    height: 50px;
    margin-left: 800px;
}

p{
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    color: black;
    margin-left: 800px;
}

h3{
    color:black;
    font-family: 'Patrick Hand', cursive;
    margin-left: 800px;
}

#season_img1{
    width: 800px;
    height: 875px;
}

#winter_btn_redirect{
    background-color: rgb(110, 186, 233);
    color: white;
    width: 250px;
    border-radius: 300px;
    height: 50px;
    margin-right: 20px;
    border-color: white;
    font-size: 20px;
}

#summer_btn_redirect{
    background-color: rgb(236, 233, 39);
    color: black;
    width: 250px;
    border-radius: 300px;
    height: 50px;
    border-color: white;
    font-size: 20px;
}

#fall_btn_redirect{
    background-color: rgb(236, 167, 39);
    color: white;
    width: 250px;
    margin-right: 20px;
    border-radius: 300px;
    height: 50px;
    border-color: white;
    font-size: 20px;
}

#spring_btn_redirect{
    background-color: rgb(72, 236, 39);
    width: 250px;
    height: 50px;
    color: black;
    border-radius: 300px;
    border-color: white;
    font-size: 20px;
}

#winter_img1{
    height:500px;
    width: 450px;
}

.h3ctr{
    color:black;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    margin-left: 30px;
    font-weight: 700;
}

.pctr{
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    color: black;
    margin-left: 10px
}

#summer_img1{
    height: 550px;;
    width: 900px;
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: fixed;
    background-color:rgb(255, 255, 255);
    width: 100%;
    margin-top: 0;
    top: 0px;
    z-index: 10;
}

html {
    scroll-behavior: smooth;
}

.link {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: 'Cookie', cursive;
    font-size: 30px;
}

.article{
    color:black;
    text-decoration: none;
    text-shadow: 2px 2px gainsboro;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
}

.article:hover {
    color: fuchsia;
}

hr{
    height: 6px;
    background-color: #000;
    width: 700px;
    margin: 8px auto;
}
